%html
  %body
  %form
    %div{:style => "float:right"}
      - if session["self"]
        = "hi, #{session["self"]}"
      - else
        %a{:href=>"https://github.com/login/oauth/authorize?client_id=#{CLIENT_ID}&scope=repo"}
          log in
    user:
    %input{:name=>"user", :value => params["user"]}
    repo:
    %input{:name=>"repo", :value => params["repo"]}
    %input{:type=>"submit"}
  - if @issues
    %table
      %th
        %td
          Name
        %td
          Estimated completion time
        %td
          Highly optimistic completion time
      - @issues.each do |milestone, issues|
        %tr
          %td
            = milestone.title
          %td
            = milestone.estimated_completion || "Indefinite"
          %td
            = milestone.optimistic_completion || "Indefinite"
          
          